.container {
  display: flex;
  flex-direction: column;
  color: black;
  background-color: black;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loginpages {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 20px;
  border: none;
  border-radius: 12px;
}

.masukan {
  color: white;
  font-size: 18px;
  font-weight: 500;
  margin: 10px 20px 0 20px;
  border: none;
  border-radius: 12px;
  padding: 10px;
}

.tombol {
  background-color: black;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  margin: 10px 0 10px 0;
}

.klik {
  text-decoration: none;
  color: blue;
  font-size: 18px;
  font-weight: 500;
  background-color: transparent;
  overflow: hidden;
  border: none;
}

.info {
  color: black;
  font-size: 18px;
  font-weight: 500;
}